h1 {
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2d830;
  color: rgb(107, 107, 107);
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 50px;
  border-radius: 5%;
  width: 60%;
}

body {
  background-color: white;
  background-repeat: no-repeat;
  background-position: left top, center top;
  background-size: 1080px, 1920px;
  width: 720px;
  height: 480px;
}

#home {
  width: 50px;
  height: 50px;
}

#normal-text {
  text-align: center;
  color: white;
}

#title-input,
#link-input,
#time-input {
  display: flex;
  font-size: 30px;
  font-family: tahoma, verdana, segoe, sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 1px solid #f2d830;
  opacity: 0.7;
}

#add-time {
  padding: 15px 30px;
  margin: 10px 4px;
  color: black;
  background-color: white;
  font-family: tahoma;
  font-size: 25px;
  text-align: middle;
  border: 2px solid #ffeb6a;
  transition-duration: 0.5s;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  opacity: 0.7;
  border-radius: 10%;
}
#add-time:hover {
  background-color: #ffeb6a;
  color: white;
  opacity: 1;
}
.button {
  border-radius: 20%;
  padding: 5px;
  transition: all 0.2s ease;
}
.button:hover {
  cursor: pointer;
  border-radius: 10%;
  background: rgb(104, 104, 104);
}
