* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: black;
    color:aliceblue;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#account{
    margin: 30px;
    width: 20px
}
#games {
    float:right;
    margin: 20px;
    
}
#stats {
    float:right;
    margin: 25px;
}
ul {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#add {

    float: right;
    margin: 30px;
    margin-top: 400px;
}