h1 {
  color: green;
  font-weight: bold;
  text-align: center;
  font-family: fantasy;
  font-size: 50px
}

.img-trex {
  width: 450px;
}

body {
  color: orange;
  text-align: center;
  font-family: monospace;
  font-size: 20px
}

.img-shrek {
  width: 600px;
  margin: auto;
}
